# SQL DB настройки
DB_SERVER=test
DB_PORT=1111
DB_NAME=test
DB_USER=test
DB_PASSWORD=test
DB_DRIVER='ODBC Driver 17 for SQL Server'

# Параметр токена для скрипта сбора дерева категорий
DEFAULT_WB_TOKEN='test_token'

# WB API настройки
#WB_CONTENT_API_URL='https://content-api-sandbox.wildberries.ru'
WB_CONTENT_API_URL='https://content-api.wildberries.ru'

# Монго настройки
MONGO_INITDB_ROOT_USERNAME=test
MONGO_INITDB_ROOT_PASSWORD=test
MONGO_PORT=27017

# FastApi настройки
APP_NAME='Carville WB API Service'
DESCRIPTION='Сервис для работы с WB API и карточками товаров'
ROOT_PATH=wb
DEBUG=false
HOST='0.0.0.0'
PORT=8000

# Настройка логов
LOG_FOLDER=logs

# Elasticsearch настройки
ELASTICSEARCH_HOST='http://localhost:9200'

# Настройки подключения к RabbitMQ
RABBITMQ_HOST='localhost'
RABBITMQ_PORT=5672
RABBITMQ_USER='ghost'
RABBITMQ_PASSWORD='ghost'
RABBITMQ_VHOST='/'
TELEGRAM_NOTIFICATIONS_QUEUE='wb_manager_notifications'
