DB_SERVER=test
DB_PORT=1111
DB_NAME=test
DB_USER=test
DB_PASSWORD=test
DB_DRIVER='ODBC Driver 17 for SQL Server'


DEFAULT_WB_TOKEN='test_token'

LOG_FOLDER=logs

MONGO_INITDB_ROOT_USERNAME=test
MONGO_INITDB_ROOT_PASSWORD=test
MONGO_PORT=27017

APP_NAME='Carville WB API Service'
DESCRIPTION='Сервис для работы с WB API и карточками товаров'
DEBUG=true
HOST='0.0.0.0'
PORT=8000
